boto3
celery
channels
channels-redis
daphne
Django
dj-rest-auth
django-allauth
django-cors-headers
django-countries
django-extensions
django-filter
django-ratelimit
django-rest-passwordreset
django-rest-swagger
django-storages
djangorestframework
djangorestframework-simplejwt
dj-database-url
drf-spectacular
drf-yasg
more-itertools
openai==1.56.0
opencv-python
openpyxl
pandas
Pillow
pyspellchecker
python-decouple
python-dotenv
python-Levenshtein
psycopg2-binary
requests
